





<h1>Home#index</h1>
<%= link_to 'Create a Dare', new_dare_path , class: "btn btn-large"%>
<%= link_to 'View all Dares', dare_index_path , class: "btn btn-large"%>
<%if user_signed_in?%>
<%= link_to 'My Profile', user_index_path , class: "btn btn-large"%>
<%= link_to 'Sign Out', destroy_user_session_path , class: "btn btn-large"%>
<%end%>