<!DOCTYPE html>
<html>
<head>
  <title>DareProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<!-- 2. flowplayer -->
<script src="http://releases.flowplayer.org/5.0.0/flowplayer.min.js"></script>

<!-- global options -->
<script>
flowplayer.conf = {
   engine: "html5",
   embed: false,
   swf: "./assets/flowplayer.swf",
   analytics: 'UA-27182341-1'
};
</script>

<!-- 3. skin -->
<link rel="stylesheet" type="text/css"
   href="http://releases.flowplayer.org/5.0.0/skin/minimalist.css" />

<style>
body
{
background-image:url('/assets/rough_diagonal_@2X.png');
background-color:#FFFCA3;
}
</style>



</head>
<body>
<%= yield %>

</body>
</html>
